#registerForm form
{
	position: relative;
	margin: 0 auto;
	width: 290px;
	@media(min-width: 340px)
	{
		margin: auto;
		width: auto;
	}
	fieldset 
	{
		display: block;
		background-color: @mainColor;
		width: 280px;
		border: 0px;
		margin: 0px;
		padding: 0px;
		text-align: center;
		height: 110px;
		float: left;
		
		margin: 18px auto;
		
		@media(min-width: 340px)
		{
			margin: 18px;
		}

		padding: 16px 0px 0px;
		position: relative;
		-webkit-box-shadow: 1.5px 1.5px 0 1.5px @secColor;
		box-shadow: 1.5px 1.5px 0 1.5px @secColor;

		input {
			margin: 0 auto 16px;
			padding: 2px 0px 2px 6px;
			display: block;
			width: 250px;
			height: 35px;
			border: 0px;
			background-color: @terColor;
			color: #949494;
		}

		input[type="submit"],
		input[type="button"]
		{
			background-color: @mainColor;
			color: #fff;
			font-size: 13pt;
			-webkit-box-shadow: 1.5px 1.5px 0 1.5px @secColor;
			box-shadow: 1.5px 1.5px 0 1.5px @secColor;
		}

		div.checkboxWithLabel {
			width: 258px;
			text-align: left;
			color: #fff;
			margin: 0 auto;
			padding: 10px 0 0;

			input[type="checkbox"]
			{
				display: inline;
				width: 25px;
				padding: 0px;
				margin: 0px;
				height: auto;
			}
		}

		h1 {
			font-weight: normal;
			font-size: 16pt;
			margin: 20px 0 28px;
			padding: 0px;
			color: @secColor;
		}

		&:after {
			display: block;
			position: absolute;
			content: "";
			
			background: url("../img/arrow_down.png") no-repeat;
			width: 22px;
			height: 16px;
			left: 5px;
			bottom: -16px;

			@media(min-width: 965px)
			{
				width: 18px;
				height: 24px;
				background: url("../img/arrow_right.png") no-repeat;
				right: -18px;
				bottom: 8px;
				left: auto;
			}
		}

		&.noBg {
			background: none;
			-webkit-box-shadow: none;
			box-shadow: none;

			&:after {
				background: none;
				display: none;
			}
		}
	}
}
*::-webkit-input-placeholder {
    color: #aeaeae;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #aeaeae;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #aeaeae;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #aeaeae;
}