#chatboxContainer
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;

	.chatboxMessages
	{
		float: left;
		width: 70%;
		height: 100%;
		background: #fff;
		overflow: auto;

		.message 
		{
			width: 235px;
			@media(min-width: 360px)
			{
				width: 300px;
			}
			@media(min-width: 975px)
			{
				width: 400px;
			}
			@media(min-width: 1400px)
			{
				width: 500px;
			}

			margin: 20px 12px 0;
			@media(min-width: 890px)
			{
				margin: 20px 45px 0;
			}
			display: block;
			padding: 4px;
			position: relative;

			&:after {
				display: block;
				width: 22px;
				height: 16px;
				position: absolute;
				content: "";
				bottom: -16px;
			}

			.author 
			{
				padding: 4px 4px 0px;
				.date 
				{
					float: right;
				}

				.name
				{
					float: left;
				}
			}

			.messageText 
			{
				clear: both;
				margin-top: 10px;
				background: @terColor;
				padding: 10px;
			}

			&.in 
			{
				background-color: @mainColor;
				
				margin-left: 36px;
				@media(min-width: 430px)
				{	
					margin-left: 100px;
				}
				@media(min-width: 852px)
				{
					margin-left: 274px;
				}
				@media(min-width: 1400px)
				{
					margin-left: 490px;
				}

				.author {
					color: #45623C;
				}

				&:after {
					background: url("../img/arrow_down_light.png") no-repeat;
					right: 16px;
				}
			}

			&.out 
			{
				background-color: @secColor;
				.author {
					color: #45623C;
				}

				&:after {
					background: url("../img/arrow_down.png") no-repeat;
					left: 16px;
				}
			}
		}
	}

	.chatboxGuests
	{
		float: left;

		display: none;
		width: 0px;
		@media(min-width: 685px)
		{
			display: block;
			width: 240px;
		}
		@media(min-width: 1070px)
		{
			width: 350px;
		}

		border-left: 2px solid #aeaeae;
		height: 100%;
		background: @terColor;
		color: @secColor;
		padding: 10px;
		position: absolute;
		right: 0;

		span
		{
			position: relative;
			padding-top: 4px;
			padding-left: 34px;
			display: block;
			height: 6px;

			&:before {
				display: block;
				position: absolute;
				content: '';
				background: url("../img/user_icon.png");
				height: 22px;
				width: 24px;
				margin-right: 10px;
				margin-top: 2px;
				left: 0px;
				top: 0px;
			}
		}
	}

	.chatboxPost	
	{
		clear: both;
		position: absolute;
		width: 100%;
		height: 50px;
		background: @mainColor;
		border-top: 2px solid @secColor;
		bottom: 0;

		&:before {
			display: block;
			width: 22px;
			height: 16px;
			position: absolute;
			background: url("../img/arrow_up.png") no-repeat;
			content: "";

			left: 12px;
			@media(min-width: 430px)
			{
				left: 45px;
			}
			
			top: -18px;
		}

		form 
		{
			border: 0px;
			padding: 0px;
			margin: 0px;

			fieldset 
			{
				border: 0px;
				padding: 0px;

				margin: 6px 0 0 12px;
				@media(min-width: 430px)
				{
					margin: 6px 0 0 45px;
				}

				input {
					float: left;

					&[type="text"]
					{
						width: 160px;
						@media(min-width: 360px)
						{
							width: 225px;
						}
						@media(min-width: 685px)
						{
							width: 500px;
						}
						@media(min-width: 975px)
						{
							width: 850px;
						}
						height: 35px;
						border: 0px;
						background-color: @terColor;
						color: #949494;
						padding-left: 10px;
					}
				}

				span.button{
					&.userList 
					{
						@media(min-width: 685px)
						{
							display: none;
						}
						background-color: @secColor;
						color: #fff;
						font-size: 13pt;
						width: 42px;
						height: 28px;
						border: 0px;
						padding-top: 9px;
						display: inline-block;
						text-align: center;
						margin-left: 2px;
					}
					&.postMessage
					{
						text-align: center;
						display: block;
						float: left;
						background-color: @secColor;
						color: #fff;
						font-size: 13pt;
						width: 60px;
						height: 21px;
						border: 0px;
						padding: 8px 0px;
					}
				}
			}
		}
	}
}