#createdChatbox
{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 290px;
	overflow-x: hidden;

	@media(min-width: 340px)
	{
		margin: 35px 22px;
		width: auto;
		overflow-x: auto;
	}
	@media(min-width: 965px)
	{
		margin: 35px 40px;
	}

	#image
	{
		position: relative;
		float: left;

		img 
		{ 
			width: 280px;
			@media(min-width: 965px)
			{
				width: auto;
			}
		}

		span {
			color: #FFFFFF;
			font-size: 16pt;
			left: 10px;
			position: absolute;

			top: 2px;
			@media(min-width: 965px)
			{
				top: 8px;
			}
		}

		&:after {
			background: url("../img/arrow_down.png") no-repeat;
			bottom: -12px;
			height: 18px;
			left: 12px;
			width: 24px;
			display: block;
			position: absolute;
			content: "";

			@media(min-width: 965px)
			{
				width: 18px;
				height: 24px;
				background: url("../img/arrow_right.png") no-repeat;
				right: -18px;
				top: 8px;
				bottom: auto;
				left: auto;
			}
		}
	}

	#message 
	{
		float: left;

		h1 
		{
			color: @secColor;
			font-size: 25pt;
			font-weight: normal;
			
			width: 300px;
			@media(min-width: 965px)
			{
				margin: 0 0 0 50px;
				width: 354px;
			}
		}

		a 
		{
			background: none repeat scroll 0 0 @mainColor;
			color: #FFFFFF;
			display: block;
			height: 32px;
			margin: 38px 0 0 22px;
			@media(min-width: 965px)
			{
				margin: 76px 54px 0 112px;
			}
			padding: 14px 0 0;
			text-align: center;
			width: 250px;
			-webkit-box-shadow: 1.5px 1.5px 0 1.5px @secColor;
			box-shadow: 1.5px 1.5px 0 1.5px @secColor;
			text-decoration: none;
		}
	}
}