#lockedChatbox
{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 290px;
	overflow-x: hidden;

	@media(min-width: 340px)
	{
		margin: auto;
		width: auto;
		overflow-x: auto;
	}

	@media(min-width: 340px)
	{
		margin: 35px 22px;
	}
	@media(min-width: 965px)
	{
		margin: 35px 40px;
	}

	#image
	{
		position: relative;
		float: left;

		img 
		{ 
			width: 280px;
			@media(min-width: 965px)
			{
				width: auto;
			}
		}

		span {
			color: #FFFFFF;
			font-size: 16pt;
			left: 10px;
			position: absolute;
			top: 8px;
		}

		
			
		&:after {
			background: url("../img/arrow_down.png") no-repeat;
			bottom: -12px;
			height: 18px;
			left: 12px;
			width: 24px;
			display: block;
			position: absolute;
			content: "";

			@media(min-width: 965px)
			{
				width: 18px;
				height: 24px;
				background: url("../img/arrow_right.png") no-repeat;
				right: -18px;
				top: 8px;
				bottom: auto;
				left: auto;
			}
		}
	}

	#message 
	{
		float: left;

		h1 
		{
			color: @secColor;
			font-size: 25pt;
			font-weight: normal;
			width: 300px;
			@media(min-width: 965px)
			{
				margin: 0 0 0 50px;
				width: 354px;
			}
		}
	}

	form fieldset {
		border: 0px;
		@media(min-width: 965px)
		{
			margin: 40px 0px 0px 52px;
		}
		padding: 0px;
		input {
			margin: 0 auto 16px;
			padding: 2px 0px 2px 6px;
			display: block;
			width: 184px;
			@media(min-width: 965px)
			{
				width: 250px;
			}
			height: 35px;
			background-color: @terColor;
			color: #949494;
			border: 1px solid #aeaeae;
			border-right: 0px;
			float: left;
		}

		span.button
		{
			text-align: center;
			display: block;
			margin: 0 auto 16px;
			float: left;
			background-color: @mainColor;
			color: #fff;
			font-size: 13pt;
			width: 48px;
			height: 21px;
			border: 0px;
			padding: 10px;
		}
	}
}