#setNickname
{
	position: relative;
	display: block;

	margin: 35px 20px;
	
	@media(min-width: 340px)
	{
		margin: 35px 40px;
	}

	#image
	{
		position: relative;
		float: left;

		span {
			color: #FFFFFF;
			font-size: 16pt;
			left: 10px;
			position: absolute;
			top: 8px;
		}

		&:after {
			background: url("../img/arrow_down.png") no-repeat;
			bottom: -8px;
			content: "";
			display: block;
			height: 18px;
			position: absolute;
			right: 39px;
			width: 24px;

			@media(min-width: 965px)
			{
				background: url("../img/arrow_right.png") no-repeat;
				height: 24px;
				right: -14px;
				top: 29px;
				width: 18px;
				bottom: auto;
			}
		}
	}

	#message 
	{
		float: left;

		h1 
		{
			color: @secColor;
			font-size: 25pt;
			font-weight: normal;

			width: 300px;
			@media(min-width: 965px)
			{
				margin: 0 0 0 50px;
				width: 354px;
			}
		}

		/*a 
		{
			background: none repeat scroll 0 0 @mainColor;
			color: #FFFFFF;
			display: block;
			height: 32px;
			margin: 76px 54px 0 112px;
			padding: 14px 0 0;
			text-align: center;
			width: 250px;
			-webkit-box-shadow: 1.5px 1.5px 0 1.5px @secColor;
			box-shadow: 1.5px 1.5px 0 1.5px @secColor;
			text-decoration: none;
		}*/
	}

	form fieldset {
		border: 0px;
		@media(min-width: 965px)
		{
			margin: 40px 0px 0px 52px;
		}
		padding: 0px;
		input {
			margin: 0 auto 16px;
			padding: 2px 0px 2px 6px;
			display: block;

			width: 184px;
			@media(min-width: 965px)
			{
				width: 250px;
			}
			
			height: 35px;
			background-color: @terColor;
			color: #949494;
			border: 1px solid #aeaeae;
			border-right: 0px;
			float: left;
		}

		span.button
		{
			text-align: center;
			margin: 0 auto 16px;
			display: block;
			float: left;
			background-color: @mainColor;
			color: #fff;
			font-size: 13pt;
			width: 32px;
			height: 21px;
			border: 0px;
			padding: 10px;
		}
	}
}