extends ../layout

block content
	#chatboxContainer
		.chatboxMessages

		.chatboxGuests

		.chatboxPost
			form(method="post", action="")
				fieldset
					input(type="text", name="message", placeholder="Enter your message")
					span.button.postMessage Post
					span.button.userList U