extends ../layout

block content
	#createdChatbox
		#image
			img(src="img/chatbox.png", alt="Chatbox Example", title="Created a chatbox")
			span #{chatboxName} 
		#message
			h1. It's yours now, take good care of it :)	 
			a.button(href="http://" + chatboxName + ".teamchat.nl", title="Go to your chatbox") Enter your chatbox
		.clear
