extends ../layout

block content
	#lockedChatbox
		#image
			img(src="img/locked_chatbox.png", alt="locked chatbox", title="Chatbox is locked")
			span #{chatboxName} 
		#message
			h1. Oops! This chatbox is locked. Enter its password.
			form(method="post", action="", id="enterChatbox")
				input(type='hidden', name='_csrf', value=token)
				fieldset
					input(type="password", name="password", placeholder="Password")
					span.button Enter
		.clear
