extends ../layout

block content
	#setNickname
		#image
			img(src="img/unknown_user.png", alt="unknown user", title="What is your hiding name?")
			span #{chatboxName} 
		#message
			h1. Oops! You are unknow yet. Set up a nickname
			form(method="post", action="", id="nicknameForm")
				input(type='hidden', name='_csrf', value=token)
				fieldset
					input(type="text", name="nickname", placeholder="Nickname")
					span.button Set
		.clear
