body { 
	margin: 0px; 
	background: @background;
	font-family: 'Cantarell', 'Arial';
}

#backgroundImage {

	display: none;
	@media(min-width: 768px)
	{
		display: block;
	}

	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;

	img {
		display: none;
		@media(min-width: 768px)
		{
			display: block;
		}
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
}

#fullContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

#container 
{ 
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
	@media(min-width: 340px)
	{
		width: 332px;
		overflow-x: auto;
		border: 1px solid @secColor;
	}
	@media(min-width: 965px)
	{
		width: 950px;
		margin: 10% auto 0;
	}
	position: relative;
	background-color: #fff;

	#header 
	{
		background-color: #7bb06b;
		border-bottom: 2px solid #659158;
		margin-bottom: 20px;

		&:after {
			display: block;
			width: 22px;
			height: 16px;
			position: absolute;
			background: url("../img/arrow_down.png") no-repeat;
			content: "";
			left: 45px;
			top: 46px;
		}

		h3 {
			color: #fff;
			margin: 0px 0px 0px 40px;
			font-size: 20pt;
			font-weight: normal;
			background-color: #659158;
			padding: 8px;
			width: auto;
			display: inline-block;
		}
	}

	#footer {
		height: 20px;
		background-color: #7bb06b;
		border-top: 2px solid #659158;
	}
}

#alert 
{
	display: none;
	padding: 20px 10px 10px 40px;
	margin-top: -20px;

	&.error {
		background-color: #FFB3B3;
		border-bottom: 2px solid #B30000;
		display: block;
		color: #900000;
	}
	&.warning {
		background-color: #FFFFB3;
		border-bottom: 2px solid #B3B300;
		display: block;
		color: #8F8F00;
	}
	&.succes {
		background-color: #B3FFB3;
		border-bottom: 2px solid #00B359;
		display: block;
		color: #008F47;
	}
}

.clear { 
	clear: both;
	height: 1px;
	font-size: 1pt;
}