#registerForm
	form(method="post", action="/create")
		input(type='hidden', name='_csrf', value=token)
		fieldset
			input(type="text", name="chatboxName", placeholder="Chatbox name", value="#{ (chatbox && chatbox.name) ? chatbox.name : '' }")
			input(type="password", name="adminPassword", placeholder="Admin password")
		fieldset
			input(type="password", name="chatboxPassword", placeholder="Enter password")
			.checkboxWithLabel
				input(id="SL", type="checkbox", name="saveLogs")
				label(for="SL") Save logs
		fieldset.noBg
			h1 Create your chatbox
			input(type="submit", name="createChatbox", value="Create it")
		.clear
