doctype html
html
	head
		title= site.title
		meta(charset='utf-8')
		meta(name='author', content=author)
		meta(name='description', content=description)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/main.css')
	body
		.container
			include layout/header
		.container
			.container.well
				h3 404 Error
				.row 
					.col-sm-12 De pagina of het bestand dat u zocht bestaat niet (meer)

		.container
			include layout/footer
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.js')
		script(src='/js/main.js')