doctype html
html
	head
		title=site.title
		meta(charset='utf-8')
		meta(name='author', content=site.metadata.author)
		meta(name='description', content=site.metadata.description)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/main.css')
	body
		if layout == null || layout.noBackground != true
			#backgroundImage
	
		div(id="" + ((layout == null || layout.fullContainer != true) ? 'container' : 'fullContainer'))

			if layout == null || layout.headerHidden != true
				include layout/header

			block content

			if layout == null || layout.footerHidden != true
				include layout/footer
		
		script(src='/js/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/main.min.js')

		if chatbox && chatbox.name
			script(src='/js/chatbox.min.js')
